/* GT Maru Font */
@font-face {
  font-family: 'GT Maru';
  src: url('https://cdn.shopify.com/s/files/1/0505/4307/files/GT-Maru-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('https://cdn.shopify.com/s/files/1/0505/4307/files/GT-Maru-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('https://cdn.shopify.com/s/files/1/0505/4307/files/GT-Maru-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'GT Maru', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: #333;
}

a {
  color: #2D5F3F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
